.project{
    display: flex;
    flex-direction: column;
    padding: 4% 0%;
    background-image: url('https://bowwe.com/upload/domain/12538/images/about-img-bg.webp?10104017.399999857');
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
.project-head{
    margin-top: 2%;
    margin-bottom: 5%;
}
.project-body{
    display: flex;
    flex-direction: auto;
    justify-content: center;
    align-items: center;
    padding: 0 4%;
    height: auto;
}
#project-img{
  width:70%;
  height:230px;
}
.card-1,.card-2,.card-3,.card-4,.card-5{
  padding:.5%;
  box-shadow: 5px 5px 25px 5px ;
  transition: .3s ;
  height:580px;
  margin:2vh 2vw;
}

.card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover,.card-5:hover{
  transform: scale(0.95)
}
.card-1-animation{
  animation: card-1;
  animation-duration: 3s;
}
.card-2-animation{
  animation: card-2;
  animation-duration: 3s;
}
@keyframes card-1{
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes card-2{
  from{
    transform: translateX(500px);
  }
  to{
    transform: translateX(0px);
  }
}
.card-content{
  text-align: justify;
  padding-top: 10%;
}
.card-actions{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.proj-git-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-icons{
  margin:0% 20%;
  cursor: pointer;
  color: black;
}
.project-icons:hover{
  text-decoration: none;
}
